
  <%- include('../partials/header') %>

  <%- include('../partials/aside') %>
<main class="add-form">
 
  <h2>Edit Details</h2>
    <form action="/lessons/<%= lessonIdx%>?_method=PUT" method="POST" autocomplete="off"> 
  
        <label>Category:</label>
        <input type="text" name="category" value="<%= lesson.category %>"><br>
        <label>Instructor:</label>
        <input type="text" name="instructor" value="<%=lesson.instructor%>"><br>
        <label>Plane:</label>
        <select name="planes">
            <% planes.forEach(function(p) { %>
            <option><%= p %></option>
            <% }) %>
            <option selected><%=lesson.planes.plane%></option>
        </select><br>
        <label>Date:</label>
        <input type="date" name="date" value="<%=lesson.date%>"><br>
        <label>Description:</label>
        <input type="text" name="description" value="<%=lesson.description%>">

        <div class="form-group">
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>



        <button class="btn btn-outline-info" id="add-lesson" type="submit">Save Skill</button>

    </form>
</main>
<%- include('../partials/footer')%>

