<%- include('../partials/header') %>
<%- include('../partials/aside') %>
<main>
<table class="table table-striped">
<thead>
    <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Instructor</th>
        <th>Plane</th>
        <th>Hours</th>
        <th>Weight and Balance</th>
    </tr>

</thead>
    <tbody>    
    <tr>
        <td><%=lesson.date%></td>
        <td><%=lesson.category%></td>
        <td><%=lesson.instructor%></td>
        <td><%=lesson.planes.plane%></td>
        <td><%=lesson.hours%></td>
        <td><%=lesson.weightAndBalance%></td>
    </tr>
    </tbody>
</table>

<h2>Details:</h2>
<p><%=lesson.description%></p>
</main>

<%- include('../partials/footer') %>


