<%- include('../partials/header') %>

<%=lesson%>
<%=lesson.plane%>
<%=lesson.description%>
<%=lesson.hobbsTime%>

<table class="table table-striped">
        <thead>
            <tr>
            <th>Date</th>
            <th>Plane</th>
            <th>Instructor</th>
   
            </tr>
            <tbody>

            <tr>
                <td>09/09/2019</td>
                <td>C152</td>
                <td>Jane</td>

            </tr>
            </tbody>
        </thead>
    </table>
<h2>Details:</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo quisquam sint distinctio cum consequuntur earum officiis aspernatur, error nostrum officia adipisci veniam et, voluptatem debitis sed sit, incidunt rem. Voluptas!</p>

<%- include('../partials/footer') %>


