<%- include('../partials/header') %>



<table class="table table-striped">
    <thead>
        <tr>
            <th><%=lesson.date%></th>
            <th><%=lesson.plane%></th>
            <th><%=lesson.instructor%></th>
            
        </tr>
        <tbody>
        <tr>
            <td>09/09/2019</td>
            <td>C152</td>
            <td>student:<%=lesson.student%></td>

        </tr>
        </tbody>
    </thead>
</table>
<h2>Details:</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo quisquam sint distinctio cum consequuntur earum officiis aspernatur, error nostrum officia adipisci veniam et, voluptatem debitis sed sit, incidunt rem. Voluptas!</p>

<%- include('../partials/footer') %>


