
<%- include('../partials/header') %>

<div class="container">
    <aside>
    <% if (student) { %> 
        <img id="avatar" src="<%=student.avatar%>" alt="avatar"> <br>
        <h2><%=student.name%></h2> 
        <div id="flight-hours"><%=flightHours%></div><br>
        <p>hours</p>
        <%}%>
    </aside>

    <main>
    <% if (student) { %> 
        <%lessons.forEach((l, idx) => { %>
            <%=l.date%> <br>
            <%=l.plane%> <br>
            <%=l.plane%> <br>
            <a href="lessons/<%=l.id%>/edit">edit</a>
        <%})%>
    <%}%>
    </main>    

</div>

<%- include('../partials/footer')%>

