
<%- include('../partials/header') %>

  <side>
<% if (student) { %> 
   <h2><%=student.name%></h2> 
    <img id="avatar" src="<%=student.avatar%>" alt="avatar">
    <%=flightHours%>
<%}%>
</side>

<% if (student) { %> 
  <%lessons.forEach((l, idx) => { %>

      <%=l.plane%> <a href="lessons/<%=l.id%>/edit">edit</a>
  <%})%>
    
<%}%>

</body>

</html>

